@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
} 
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.fa-bars {
    color: #fff;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease;
    background-color: #3F0503;
}
nav.sticky {
    padding: 15px 0;
    background: #fcbb07; /* #F98659; #3F0503; */
}
nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav .logo a span {
    color: #fcbb07;
    transition: all 0.3s ease;
}
nav.sticky .logo a span {
    color: #3F0503;
}
nav .menu li {
    list-style: none;
    display: inline-block;
}
nav .menu li a {
    display: block;
    color: #fcbb07;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}
nav.sticky .menu li a{
    color: #3F0503;
}
nav .menu li a:hover {
    color: #fff;
}
nav.sticky .menu li a:hover {
    color: #fff;
}
.menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: none;
}
section {
    padding: 100px 0;
}
.content {
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.card {
    width: calc(100% - 20px);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    background: #fcbb07;
    font-size: medium;
}
.card-img img {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}
.card p{
    color: #3F0503;
}
footer {
    background: #fcbb07;
    padding: 15px 23px;
    color: black;
    text-align: center;
}
footer span a {
    color: #aa311c;
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}

/* responsive */
@media (max-width: 1104px) {
    .content {
        height: auto;
    }
}
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    nav .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #F98659;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    nav .menu.active {
        left: 0;
    }
    nav .menu li {
        display: block;
    }
    nav .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
    .content {
        width: 100%;
        overflow-y: auto;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .content {
        font-size: medium;
        overflow-y: auto;
        height: auto;
    }
    .card{
        width: auto;
    }
}

@media (max-width: 500px) {
    .content {
        font-size: medium;
        margin-bottom: 10px;
        overflow-y: auto;
        height: auto;
    }
}